/*=============================================
foundation
=============================================*/
/*mediaQuery
---------------------------------------*/
/*all
---------------------------------------*/
body {
  width: 100%;
  height: 100%;
  color: #333333;
  font-family: 'Yu Gothic';
}

/*=============================================
layout
=============================================*/
.l-header {
  width: 100%;
  height: 700px;
  position: relative;
  margin-bottom: 3.75rem;
}

.l-header .l-header__bg {
  width: 70%;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../images/home-header.jpg);
  background-position: top center;
  z-index: 20;
}

.l-header .l-header__bg > img {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  margin: 20px;
}

.l-header .l-header__bg .main-copy {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  right: -20%;
  top: 20%;
}

.l-header .l-header__bg .main-copy > h1 {
  font-size: 56px;
  letter-spacing: 0.25rem;
  font-weight: 800;
}

.l-header .l-header__black-bg {
  width: 50%;
  height: 700px;
  background-color: #222222;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.l-contents--about-us {
  width: 100%;
  height: 540px;
  background-image: url(../../images/about-img.jpg);
  padding: 50px 15px;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .l-contents--about-us {
    height: 480px;
    padding: 60px 90px;
  }
}

@media screen and (min-width: 1280px) {
  .l-contents--about-us {
    width: 1100px;
    height: 600px;
    margin: 0 auto;
    z-index: 200;
  }
}

.l-contents--about-us > div {
  width: 100%;
  height: 100%;
  padding: 50px 30px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .l-contents--about-us > div {
    padding: 40px inherit;
  }
}

@media screen and (min-width: 1280px) {
  .l-contents--about-us > div {
    width: 590px;
  }
}

@media screen and (min-width: 1280px) {
  .lg-flex-wrap--contents {
    width: 100%;
    height: 700px;
    display: flex;
    background-color: blue;
    position: relative;
    justify-content: center;
  }
}

.lg-flex-wrap--contents .l-contents--works, .lg-flex-wrap--contents .l-contents--culture {
  height: 100%;
  padding: 40px 15px 50px 15px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .lg-flex-wrap--contents .l-contents--works, .lg-flex-wrap--contents .l-contents--culture {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .lg-flex-wrap--contents .l-contents--works, .lg-flex-wrap--contents .l-contents--culture {
    height: 700px;
    width: 50%;
    position: absolute;
  }
}

.lg-flex-wrap--contents .l-contents--works > div, .lg-flex-wrap--contents .l-contents--culture > div {
  width: 100%;
}

.lg-flex-wrap--contents .l-contents--works > div > img, .lg-flex-wrap--contents .l-contents--culture > div > img {
  width: 100%;
  max-width: 520px;
}

.lg-flex-wrap--contents .l-contents--works > div > p, .lg-flex-wrap--contents .l-contents--culture > div > p {
  padding: 30px 0 50px 0;
}

@media screen and (min-width: 1280px) {
  .lg-flex-wrap--contents .l-contents--works .l-contents .works, .lg-flex-wrap--contents .l-contents--culture .l-contents .works {
    bottom: -30px;
    left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .lg-flex-wrap--contents .l-contents--works .l-contents .culture, .lg-flex-wrap--contents .l-contents--culture .l-contents .culture {
    bottom: -30px;
    right: 0;
  }
}

.lg-flex-wrap--contents .l-contents--archive {
  background-color: #fff;
  height: 410px;
}

.lg-flex-wrap--contents .l-contents--archive > div .topics {
  font-weight: bold;
}

.lg-flex-wrap--contents .l-contents--archive > div .topics .topics-date {
  padding-bottom: 8px;
  font-size: 10px;
  color: #CECECE;
}

.lg-flex-wrap--contents .l-contents--archive > div .topics .topics-title {
  font-size: 12px;
}

.lg-flex-wrap--contents .l-contents--archive > div .topics .topics-title.new-title {
  padding-bottom: 15px;
}

.lg-flex-wrap--contents .l-contents--archive > div .topics-line {
  width: 100%;
  height: 1px;
  background-color: #CECECE;
  margin: 10px 0 20px 0;
}

.lg-flex-wrap--contents .l-contents--contact {
  height: 900px;
  padding: 40px 15px;
}

.lg-flex-wrap--contents .l-contents--contact > div {
  margin-bottom: 10px;
}

.lg-flex-wrap--contents .l-contents--contact > div > img {
  height: 45%;
  margin: 10px 0 30px 0;
}

.lg-flex-wrap--contents .l-contents--contact > div .text__contact {
  padding-bottom: 50px;
}

.lg-flex-wrap--contents .l-contents--contact > div > button {
  bottom: 0px;
}

.l-footer {
  width: 100%;
  height: 50px;
  background-color: #525252;
  color: #fff;
  text-align: center;
}

.l-footer > p {
  font-size: 10px;
  line-height: 50px;
}

/*=============================================
object
=============================================*/
/*project
---------------------------------------------*/
/*component
---------------------------------------------*/
.c-button--read-more {
  width: 160px;
  height: 36px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  background-color: black;
  margin-bottom: 0;
  position: absolute;
  left: 0;
}

.c-button--read-more.about-us {
  left: 30px;
  bottom: 50px;
}

.c-button--read-more.works, .c-button--read-more.culture {
  bottom: -20px;
}

.c-button--hamburger {
  width: 100%;
  height: 250px;
  padding: 25px 15px;
  display: flex;
  justify-content: flex-end;
}

.c-button--hamburger .hamburger-box {
  width: 35px;
  height: 30px;
  position: relative;
}

.c-button--hamburger .hamburger-box > span {
  display: inline-block;
  width: 35px;
  height: 3px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  left: 0;
}

.c-button--hamburger .hamburger-box > span:nth-of-type(1) {
  top: 6px;
}

.c-button--hamburger .hamburger-box > span:nth-of-type(2) {
  top: 13.5px;
}

.c-button--hamburger .hamburger-box > span:nth-of-type(3) {
  bottom: 6px;
}

.c-button--hamburger .menu-box {
  height: 30px;
  padding-left: 5px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #fff;
}

.c-button--hamburger .menu-box > span {
  line-height: 30px;
}

.c-heading--lv2 {
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1rem;
  margin-bottom: 30px;
}

/*utility
---------------------------------------------*/
/*# sourceMappingURL=style.css.map */