/*=============================================
foundation
=============================================*/
/*mediaQuery
---------------------------------------*/
/*code
---------------------------------------*/
/*all
---------------------------------------*/
body {
  width: 100%;
  height: 100%;
  color: #333333;
  font-family: 'Yu Gothic';
}

body.nonscroll {
  overflow: hidden;
}

.about-body {
  font-family: 'Noto Sans JP', sans-serif;
}

/*=============================================
layout
=============================================*/
.l-header {
  width: 100%;
  height: 700px;
  position: relative;
  margin-bottom: 3.75rem;
}

.l-header .l-header__bg {
  width: 70%;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../images/home-header.jpg);
  background-position: top center;
  z-index: 20;
}

@media screen and (min-width: 1280px) {
  .l-header .l-header__bg {
    width: 80%;
    height: 640px;
    background-size: cover;
  }
}

.l-header .l-header__bg > img {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  margin: 20px;
}

@media screen and (min-width: 1280px) {
  .l-header .l-header__bg > img {
    top: 30px;
    left: 60px;
  }
}

.l-header .l-header__bg .main-copy {
  width: 245px;
  height: 250px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  right: -35%;
  top: 25%;
}

@media screen and (min-width: 768px) {
  .l-header .l-header__bg .main-copy {
    right: -28%;
    top: 30%;
  }
}

@media screen and (min-width: 1280px) {
  .l-header .l-header__bg .main-copy {
    width: 290px;
    height: 320px;
    right: -15%;
  }
}

.l-header .l-header__bg .main-copy > h1 {
  font-size: 56px;
  letter-spacing: 0.25rem;
  font-weight: 800;
}

.l-header .l-header__black-bg {
  width: 75%;
  height: 700px;
  background-color: #222222;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

@media screen and (min-width: 1280px) {
  .l-header .l-header__black-bg {
    height: 730px;
  }
}

.l-contents--about-us {
  width: 100%;
  height: 540px;
  position: relative;
  background-image: url(../../images/about-img.jpg);
  padding: 50px 15px;
  background-size: cover;
  z-index: 200;
}

@media screen and (min-width: 768px) {
  .l-contents--about-us {
    height: 480px;
    padding: 60px 90px;
  }
}

@media screen and (min-width: 1280px) {
  .l-contents--about-us {
    width: 1100px;
    height: 600px;
    margin: 120px auto 0 auto;
  }
}

.l-contents--about-us > div {
  width: 100%;
  height: 100%;
  padding: 50px 30px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .l-contents--about-us > div {
    padding: 40px inherit;
  }
}

@media screen and (min-width: 1280px) {
  .l-contents--about-us > div {
    width: 590px;
  }
}

@media screen and (min-width: 1280px) {
  .lg-flex-wrap--contents {
    width: 100%;
    height: 770px;
    position: relative;
    bottom: 70px;
    margin-bottom: -70px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    z-index: 100;
    background-color: #f0f0f0;
  }
}

.lg-flex-wrap--contents .l-contents--works {
  width: 100%;
  padding: 40px 15px 15px 15px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
}

@media screen and (min-width: 768px) {
  .lg-flex-wrap--contents .l-contents--works {
    padding: 40px 30px 50px 30px;
  }
}

@media screen and (min-width: 1280px) {
  .lg-flex-wrap--contents .l-contents--works {
    width: 520px;
    height: 100%;
    padding: 0;
  }
}

.lg-flex-wrap--contents .l-contents--works > div {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .lg-flex-wrap--contents .l-contents--works > div {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
  }
}

.lg-flex-wrap--contents .l-contents--works > div > img {
  width: 100%;
  max-width: 520px;
}

@media screen and (min-width: 1280px) {
  .lg-flex-wrap--contents .l-contents--works > div > img {
    width: 100%;
    height: 350px;
  }
}

.lg-flex-wrap--contents .l-contents--works > div > p {
  padding: 30px 0 50px 0;
}

.lg-flex-wrap--contents .l-contents--culture {
  width: 100%;
  height: 100%;
  padding: 40px 15px 50px 15px;
  position: relative;
  background-color: #F2F2F2;
}

@media screen and (min-width: 768px) {
  .lg-flex-wrap--contents .l-contents--culture {
    padding: 40px 30px 50px 30px;
  }
}

@media screen and (min-width: 1280px) {
  .lg-flex-wrap--contents .l-contents--culture {
    width: 520px;
    height: 100%;
  }
}

.lg-flex-wrap--contents .l-contents--culture > div {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .lg-flex-wrap--contents .l-contents--culture > div {
    position: absolute;
    top: 0;
  }
}

.lg-flex-wrap--contents .l-contents--culture > div > img {
  width: 100%;
  max-width: 520px;
}

@media screen and (min-width: 1280px) {
  .lg-flex-wrap--contents .l-contents--culture > div > img {
    width: 100%;
    height: 350px;
  }
}

.lg-flex-wrap--contents .l-contents--culture > div > p {
  padding: 30px 0 50px 0;
}

.l-contents--archive {
  width: 100%;
  height: 440px;
  position: relative;
  padding: 40px 15px;
}

@media screen and (min-width: 768px) {
  .l-contents--archive {
    padding: 40px 30px;
  }
}

@media screen and (min-width: 1280px) {
  .l-contents--archive {
    width: 1100px;
    height: 470px;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0 auto;
  }
}

.l-contents--archive > div {
  position: relative;
}

@media screen and (min-width: 1280px) {
  .l-contents--archive > div {
    width: 70%;
    top: 0;
    right: 0;
    left: auto;
    margin: 0 0 60px auto;
  }
}

.l-contents--archive > div .topics {
  font-weight: bold;
  border-bottom: 1px solid #DDD;
  margin-bottom: 19px;
}

.l-contents--archive > div .topics .topics-date {
  padding-bottom: 8px;
  font-size: 10px;
  color: #CECECE;
}

.l-contents--archive > div .topics .topics-title {
  font-size: 12px;
  padding-bottom: 20px;
}

.l-contents--archive > div .topics .topics-title.new-title {
  padding-bottom: 15px;
}

.l-contents--archive > div .topics-line {
  width: 100%;
  height: 1px;
  background-color: #CECECE;
  margin: 10px 0 20px 0;
}

.l-contents--contact {
  height: 620px;
  padding: 40px 15px;
  background-color: #F2F2F2;
  position: relative;
}

@media screen and (min-width: 768px) {
  .l-contents--contact {
    padding: 40px 30px;
    height: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .l-contents--contact {
    height: 570px;
    padding: 60px 0;
  }
}

.l-contents--contact > div {
  margin-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  .l-contents--contact > div {
    width: 1100px;
    margin: 0 auto;
    position: relative;
  }
}

.l-contents--contact > div > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin: 10px 0 30px 0;
}

@media screen and (min-width: 768px) {
  .l-contents--contact > div > img {
    width: 70%;
    height: 350px;
  }
}

@media screen and (min-width: 1280px) {
  .l-contents--contact > div > img {
    width: 580px;
    height: 390px;
    position: absolute;
    right: 0;
    left: auto;
    top: auto;
    bottom: auto;
  }
}

.l-contents--contact > div .text__contact {
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .l-contents--contact > div .text__contact {
    width: 70%;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .l-contents--contact > div .text__contact {
    width: 45%;
  }
}

.l-footer {
  width: 100%;
  height: 50px;
  background-color: #525252;
  color: #fff;
  text-align: center;
}

.l-footer > p {
  font-size: 10px;
  line-height: 50px;
}

.l-header {
  width: 100%;
  height: 450px;
  position: relative;
  margin-bottom: 3.75rem;
}

.l-header .l-header-about__bg {
  width: 70%;
  height: 390px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../images/heading-img.jpg);
  background-position: top center;
  z-index: 20;
}

@media screen and (min-width: 768px) {
  .l-header .l-header-about__bg {
    height: 530px;
  }
}

@media screen and (min-width: 1280px) {
  .l-header .l-header-about__bg {
    width: 80%;
    height: 390px;
    background-size: cover;
  }
}

.l-header .l-header-about__bg > img {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  margin: 20px;
}

@media screen and (min-width: 1280px) {
  .l-header .l-header-about__bg > img {
    top: 30px;
    left: 60px;
  }
}

.l-header .l-header-about__bg .main-copy {
  width: 100%;
  height: 250px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  right: -35%;
  top: 40%;
}

@media screen and (min-width: 768px) {
  .l-header .l-header-about__bg .main-copy {
    right: -28%;
    top: 30%;
  }
}

@media screen and (min-width: 1280px) {
  .l-header .l-header-about__bg .main-copy {
    width: 290px;
    height: 320px;
    right: -15%;
  }
}

.l-header .l-header-about__bg .main-copy > h1 {
  font-size: 56px;
  letter-spacing: 0.25rem;
  font-weight: 800;
}

.l-header .l-header-about__black-bg {
  width: 75%;
  height: 450px;
  background-color: #222222;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .l-header .l-header-about__black-bg {
    height: 650px;
  }
}

@media screen and (min-width: 1280px) {
  .l-header .l-header-about__black-bg {
    height: 460px;
  }
}

.l-about-us-wrap {
  padding: 0 15px;
}

.l-about-us-wrap p {
  padding-bottom: 2rem;
  font-size: 14px;
}

.l-about-us-wrap .p-contents-ceo > img {
  display: block;
  position: relative;
  top: 0;
  left: -15px;
  z-index: 5;
}

.l-about-us-wrap .p-contents-ceo .ceo-text {
  display: block;
  position: relative;
  bottom: 80px;
  left: 0;
  padding: 100px 8%;
  background-color: #f0f0f0;
  z-index: 3;
}

.l-about-us-wrap .p-contents-company {
  font-size: 14px;
}

.l-about-us-wrap .p-contents-company > h2 {
  padding-bottom: 30px;
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
}

.l-about-us-wrap .p-contents-company table {
  width: 100%;
  border-collapse: collapse;
}

.l-about-us-wrap .p-contents-company table .table-item__title {
  width: 40%;
  padding: 20px 0;
}

.l-about-us-wrap .p-contents-company table tr {
  border-bottom: 1px solid #ddd;
}

.l-map {
  width: 100%;
  height: 470px;
  overflow: hidden;
  padding: 0 15px;
  margin: 40px 0 80px 0;
}

.l-map iframe {
  width: 100%;
  height: 860px;
  margin-top: -170px;
}

/*=============================================
object
=============================================*/
/*project
---------------------------------------------*/
.p-hamburger-menu {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
}

.p-hamburger-menu > div {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  z-index: 100;
  margin: 0 0 0 auto;
}

@media screen and (min-width: 768px) {
  .p-hamburger-menu > div {
    width: 60%;
  }
}

@media screen and (min-width: 1280px) {
  .p-hamburger-menu > div {
    width: 40%;
  }
}

.p-hamburger-menu > div > img {
  width: 45px;
  height: 45px;
  margin-bottom: 40px;
}

.p-hamburger-menu > div > ul {
  list-style: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.p-hamburger-menu > div > ul > a {
  text-decoration: none;
  color: #fff;
}

.p-hamburger-menu > div > ul > a > li {
  padding-bottom: 30px;
}

/*component
---------------------------------------------*/
.c-button--read-more {
  width: 160px;
  height: 36px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 11px;
  background-color: black;
  margin-bottom: 0;
  position: absolute;
  left: 0;
}

.c-button--read-more.about-us {
  left: 40px;
  bottom: 100px;
}

@media screen and (min-width: 768px) {
  .c-button--read-more.about-us {
    left: 120px;
  }
}

.c-button--read-more.works {
  left: 15px;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .c-button--read-more.works {
    left: 30px;
    bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .c-button--read-more.works {
    left: 0;
    bottom: -15px;
  }
}

.c-button--read-more.culture {
  left: 15px;
  bottom: 40px;
}

@media screen and (min-width: 768px) {
  .c-button--read-more.culture {
    left: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .c-button--read-more.culture {
    left: 0;
    bottom: -15px;
  }
}

.c-button--read-more.archive {
  bottom: -70px;
}

@media screen and (min-width: 1280px) {
  .c-button--read-more.archive {
    left: auto;
    right: 0;
    bottom: -80px;
  }
}

.c-button--read-more.contact {
  left: 15px;
  bottom: 50px;
}

@media screen and (min-width: 768px) {
  .c-button--read-more.contact {
    left: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .c-button--read-more.contact {
    bottom: 0;
  }
}

.c-button--hamburger {
  width: 100px;
  height: 50px;
  position: relative;
  top: 25px;
  right: 15px;
  margin: 0 0 0 auto;
  z-index: 100;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .c-button--hamburger {
    top: 35px;
    right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .c-button--hamburger {
    right: 60px;
  }
}

.c-button--hamburger .bar {
  width: 35px;
  height: 3px;
  display: block;
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  top: 0px;
  left: 0;
}

.c-button--hamburger .bar.bar_top {
  top: 28px;
}

.c-button--hamburger .bar.bar_mid {
  top: 35px;
}

.c-button--hamburger .bar.bar_bottom {
  top: 42px;
}

.c-button--hamburger .button-text_menu {
  display: block;
  width: 55px;
  height: 30px;
  position: absolute;
  top: 25px;
  right: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.c-button--hamburger.close .bar_top {
  transform: translateY(5px) rotate(30deg);
  transition: transform .3s;
}

.c-button--hamburger.close .bar_mid {
  opacity: 0;
  transition: opacity .3s;
}

.c-button--hamburger.close .bar_bottom {
  transform: translateY(-10px) rotate(-30deg);
  transition: transform .3s;
}

.c-heading--lv2 {
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1rem;
  margin-bottom: 30px;
}

@media screen and (min-width: 1280px) {
  .c-heading--lv2 {
    padding-top: 60px;
  }
}

.c-heading--lv3 {
  font-weight: normal;
  padding-bottom: 2rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 24px;
}

/*utility
---------------------------------------------*/
/*# sourceMappingURL=style.css.map */