.c-button--read-more {
	width: 160px;
	height: 36px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 11px;
	background-color: black;
	margin-bottom: 0;
	position: absolute;
	// bottom: 0;
	left: 0;
	&.about-us {
		left: 40px;
		bottom: 100px;
		@include mq(md) {
			left: 120px;
		}
	}
	&.works, &.culture, &.contact{
		left: 15px;
		bottom: 35px;
		@include mq(md) {
			left: 30px;
		}
		@include mq(lg) {
			left: 0;
			bottom: -30px;
		}
	}
	&.archive {
		left: 15px;
		bottom: 35px;
		@include mq(md) {
			left: 30px;
		}
		@include mq(lg) {
			left: auto;
			right: 0;
			// bottom: 0;
			bottom: -80px;
			// right: 13vw;
		}
	}
	&.contact {
		bottom: 50px;
		@include mq(lg) {
			bottom: 0;
		}
	}
	// &.archive {
	// 	bottom: 40px;
	// 	left: 15px;
	// }
	// &.contact {
	// 	left: 15px;
	// 	bottom: 0px;
	// }
}

.c-button--hamburger {
	width: 100%;
	height: 250px;
	// background-color: lightblue;
	padding: 25px 15px;
	display: flex;
	justify-content: flex-end;
	@include mq(lg) {
		padding: 35px 60px;
	}
	.hamburger-box {
		width: 35px;
		height: 30px;
		// position: absolute;
		// top: 0;
		// background-color: #fff;
		position: relative;
		// text-align: center;
		>span {
			display: inline-block;
			width: 35px;
			height: 3px;
			background-color: #fff;
			border-radius: 10px;
			position: absolute;
			left: 0;
			&:nth-of-type(1) {
				top: 6px;
			}
			&:nth-of-type(2) {
				top: 13.5px;
			}
			&:nth-of-type(3) {
				bottom: 6px;
			}
		}
	}
	.menu-box {
		// width: 35px;
		height: 30px;
		padding-left: 5px;
		// position: absolute;
		// top: 0;
		// right: 0;
		// background-color: lavender;
		font-size: 12px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 800;
		color: #fff;
		// vertical-align: middle;
		>span {
			line-height: 30px;
		}
	}
}