.c-button--read-more {
	width: 160px;
	height: 36px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 11px;
	background-color: black;
	margin-bottom: 0;
	position: absolute;
	// bottom: 0;
	left: 0;
	&.about-us {
		left: 40px;
		bottom: 100px;
		@include mq(md) {
			left: 120px;
		}
	}
	&.works {
		left: 15px;
		// bottom: 35px;
		bottom: 0;
		@include mq(md) {
			left: 30px;
			bottom: 30px;
		}
		@include mq(lg) {
			left: 0;
			bottom: -15px;
		}
	}
	&.culture {
		left: 15px;
		bottom: 40px;
		@include mq(md) {
			left: 30px;
		}
		@include mq(lg) {
			left: 0;
			bottom: -15px;
		}
	}
	&.archive {
		// left: 15px;
		bottom: -70px;
		// @include mq(md) {
		// 	left: 0;
		// }
		@include mq(lg) {
			left: auto;
			right: 0;
			// bottom: 0;
			bottom: -80px;
			// right: 13vw;
		}
	}
	&.contact {
		left: 15px;
		bottom: 50px;
		@include mq(md) {
			left: 30px;
		}
		@include mq(lg) {
			bottom: 0;
		}
	}
}

.c-button--hamburger {
	width: 100px;
	height: 50px;
	// padding: 25px 15px;
	position: relative;
	top: 25px;
	right: 15px;
	margin: 0 0 0 auto;
	// display: flex;
	// justify-content: flex-end;
	z-index: 100;
	color: #fff;
	// @include mq(md) {
	// 	padding: 100px;
	// }
	@include mq(md) {
		top: 35px;
		right: 30px;
	}
	@include mq(lg) {
		right: 60px;
	}
	.bar {
		width: 35px;
		height: 3px;
		display: block;
		background-color: #fff;
		border-radius: 15px;
		      // transform: translateX(-50%);

		position: absolute;
		// position: relative;
		top: 0px;
		// right: 70px;
		left: 0;
		// z-index: 400;
		&.bar_top {
			top: 28px;
		}
		&.bar_mid {
			top: 35px;
		}
		&.bar_bottom {
			// bottom: 0px;
			top: 42px;
		}
		
	}
	.button-text_menu {
		display: block;
		width: 55px;
		height: 30px;
		// position: relative;
		position: absolute;
		top: 25px;
		right: 0;
		font-family: 'Montserrat', sans-serif;
		font-weight: 800;
		// @include mq(md) {
		// 	top: 35px;
		// 	right: 30px;
		// }
		// @include mq(lg) {
		// 	right: 60px;
		// }
		// // left: 50px;   
		// right: 
	}
	// .menu-box {
	// 	// width: 35px;
	// 	height: 30px;
	// 	padding-left: 5px;
	// 	// position: absolute;
	// 	// top: 0;
	// 	// right: 0;
	// 	// background-color: lavender;
	// 	font-size: 12px;
	// 	font-family: 'Montserrat', sans-serif;
	// 	font-weight: 800;
	// 	color: #fff;
	// 	// vertical-align: middle;
	// 	>span {
	// 		line-height: 30px;
	// 	}
	// }
}
.c-button--hamburger.close .bar_top {
	// transform: translate(-50%, 10px) rotate(45deg);
	// transform: translateY(10px) translateX(-10px) rotate(30deg);
	transform: translateY(5px) rotate(30deg);
	transition: transform .3s;
}
.c-button--hamburger.close .bar_mid {
	opacity: 0;
	transition: opacity .3s;
}
.c-button--hamburger.close .bar_bottom {
	// transform: translate(-50%, -10px) rotate(-45deg);
	// transform: translateY(-10px) translateX(-10px) rotate(-30deg);
	transform: translateY(-10px) rotate(-30deg);
	transition: transform .3s;
}
