.scroll-box {
	width: 180px;
	height: 15px;
	position: absolute;
	bottom: 150px;
	left: -70px;
	transform: rotate( -90deg);
	z-index: 30;
	@include mq(md) {
		display: none;
	}

	.scroll-black {
		width: 35.5px;
		height: 1px;
		background-color: #000;
		position: relative;
		bottom: 22px;
		left: -8px;
	}

	.scroll-white {
		width: 80px;
		height: 1px;
		background-color: #fff;
		position: relative;
		bottom: 23px;
		left: 27.5px;
	}

	.scroll-text {
		display: inline-block;
		position: relative;
		top: -10px;
		left: -65px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 800;
		font-size: 12px;
		width: 100px;
	}
}