/*mediaQuery
---------------------------------------*/
$breakpoints: (
	'xs': 'screen and (min-width: 280px)',
	// 'sm': 'screen and (min-width: 576px)',
	'sm': 'screen and (min-width: 375px)',
	'md': 'screen and (min-width: 768px)',
	'lg': 'screen and (min-width: 1280px)',
	// 'xl': 'screen and (min-width: 1400px)',
) !default;

@mixin mq($breakpoint: sm) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

/*code
---------------------------------------*/
$base-color300: #f0f0f0;
$point-color300: #ddd;