.p-hamburger-menu {
	display: none;
	width: 100vw;
	// width: 100%;
	// width: 400px;
	height: 100vh;
	// height: 500px;
	background-color: rgba( 0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;

	>div {
		width: 100%;
		height: 100vh;
		background-color: rgba( 0, 0, 0, 0.7);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 100px;
		z-index: 100;
		margin: 0 0 0 auto;
		@include mq(md) {
			width: 60%;
		}
		@include mq(lg) {
			width: 40%;
		}
		>img {
			width: 45px;
			// width: 100%;
			height: 45px;
			margin-bottom: 40px;
		}
		>ul {
			list-style: none;
			color: #fff;
			font-family: 'Montserrat', sans-serif;
			font-weight: 800;
			>a {
				text-decoration: none;
				color: #fff;
				>li {
					padding-bottom: 30px;
				}
			}
		}
	}
}