.l-header-contact {
	@extend .l-header;
	// width: 100%;
	height: 365px;
	// position: relative;
	// margin-bottom: 3.75rem;
	@include mq(md) {
		height: 615px;
		margin-bottom: 5rem;
	}
	@include mq(lg) {
		height: 460px;
		margin-bottom: 0;
	}

	.l-header-contact__bg {
		@extend .l-header__bg;
		width: 75%;
		height: 270px;
		// position: absolute;
		// top: 0;
		// left: 0;
		background-image: url(../../images/heading-img_contact_sm.png);
		background-position: right 20% center;
		background-size: cover;
		// z-index: 20;
		@include mq(md) {
			height: 530px;
			background-image: url(../../images/heading-img_contact.jpg);
			// background-position: left 50% center;
			background-position: center;
		}
		@include mq(lg) {
			width: 80%;
			height: 390px;
			background-size: cover;
		}
	}

	.l-header-contact__mask {
		width: 75%;
		height: 270px;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba( 0, 0, 0, 0.3);
		z-index: 25;
		@include mq(md) {
			width: initial;
			width: 100%;
			height: 530px;
			background-color: transparent;
		}
		// @include mq(lg) {
		// 	height: 390px;
		// }
		// >img {
			.site-logo--contact {
				@extend .site-logo;
			// display: inline-block;
			// position: absolute;
			// top: 0;
			// left: 0;
			// z-index: 30;
			margin: 20px;
			@include mq(md) {
				width: 200px;
			}
			@include mq(lg) {
				top: 30px;
				left: 60px;
			}
		}
		.main-copy--contact {
			// @extend .main-copy;
			width: 100%;
			height: 250px;
			color: #fff;
			font-family: 'Montserrat', sans-serif;
			position: absolute;
			right: -28%;
			top: 40%;
			text-align: right;
			// @include mq(md) {
			// 	left: 30%;
			// 	top: -20%;
			// }
			@include mq(md) {
				top: 30%;
				left: -50px;
				// top: -20%;
			}
			@include mq(lg) {
				left: -150px;
				// width: 290px;
				// height: 320px;
				// right: -15%;
			}
			>p {
				font-weight: bold;
				padding: 10px;
				@include mq(md) {
					position: relative;
					right: 210px;
				// 	top: 130px;
					// left: 40px;
				}
			}
		}
	}
	.l-header-contact__black-bg {
		@extend .l-header__black-bg;
		width: 50%;
		height: 365px;
		// background-color: #222222;
		// position: absolute;
		// top: 0;
		// right: 0;
		// z-index: 10;
		@include mq(md) {
			width: 50%;
			height: 615px;
		}
		@include mq(lg) {
		height: 460px;
		}
	}
}

.l-contact-wrap {
	width: 100%;
	height: 100%;
	padding: 15px;
	@include mq(md) {
		padding: 50px;
	}
	@include mq(lg) {
		width: 1100px;
		margin: auto;
	}

	>p {
		font-size: 14px;
		margin-bottom: 60px;
	}
	.contact-form {
		width: 100%;

		.form-item-title {
			font-weight: bold;
			font-size: 16px;
			padding-bottom: 1rem;
			// @include mq(md) {
			// 	padding-bottom: 35px;
			// }
		}
		// textarea .form-text {
		// 	height: 210px;
		// }

		.privacy-policy-title{
			font-family: 'Montserrat', sans-serif;
			font-weight: 800;
		}
		.privacy {
			height: 215px;
			overflow-Y: scroll;
			padding: 10px;
			font-size: 14px;
			border: 2px solid #333;
			margin-bottom: 40px;
			.privacy-bold {
				font-weight: bold;
				padding-bottom: 5px;
			}
		}
		.form-text {
			width: 100%;
			height: 48px;
			border: 1px solid #000;
			margin: 5px 0 35px 0;
			// margin: 5px 0 40px 0;
			@include mq(lg) {
				margin-bottom: 42px;
			}
		}
		.form-textarea {
			width: 100%;
			height: 210px;
			border: 1px solid #000;
			margin: 5px 0 35px 0;
		}
	}
}

.required {
	// width: 35px;
	// height: 18px;
	padding: 1px 5px;
	margin: 5px 20px;
	font-size: 12px;
		color: #fff;
		background-color: #333;
	}
