.l-header-contact {
	width: 100%;
	height: 365px;
	position: relative;
	margin-bottom: 3.75rem;
	@include mq(md) {
		height: 615px;
		margin-bottom: 5rem;
	}
	@include mq(lg) {
		height: 460px;
		margin-bottom: 0;
	}

	.l-header-contact__bg {
		width: 75%;
		height: 270px;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(../../images/heading-img_contact.png);
		background-position: right 20% center;
		background-size: cover;
		z-index: 20;
		@include mq(md) {
			height: 530px;
		}
		@include mq(lg) {
			width: 80%;
			height: 390px;
			background-size: cover;
		}
	}

	.l-header-contact__mask {
		width: 75%;
		height: 270px;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba( 0, 0, 0, 0.3);
		z-index: 25;
		>img {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 30;
			margin: 20px;
			@include mq(lg) {
				top: 30px;
				left: 60px;
			}
		}
		.main-copy {
			width: 100%;
			height: 250px;
			color: #fff;
			font-family: 'Montserrat', sans-serif;
			position: absolute;
			right: -28%;
			top: 40%;
			text-align: right;
			@include mq(md) {
				left: 70%;
				top: 40%;
			}
			@include mq(lg) {
				width: 290px;
				height: 320px;
				right: -15%;
			}
			>h1 {
				font-size: 56px;
				letter-spacing: 0.25rem;
				font-weight: 800;
			}
			>p {
				font-weight: bold;
				padding: 10px;
			}
		}
	}
	.l-header-contact__black-bg {
		width: 50%;
		height: 365px;
		background-color: #222222;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		@include mq(md) {
			width: 50%;
			height: 615px;
		}
		@include mq(lg) {
		height: 460px;
		}
	}
	

}

.l-contact-wrap {
	width: 100%;
	height: 100%;
	padding: 15px;
	
	>p {
		font-size: 14px;
		margin-bottom: 60px;
	}
	.contact-form {
		width: 100%;
		>ul {
			list-style: none;
			padding: 0 10px;
			margin-bottom: 2rem;
			
			>li {
				padding-bottom: 10px;
			}
		}
		.form-item-title {
			font-weight: bold;
			font-size: 16px;
			padding-bottom: 1rem;
		}
		.form-item-title .privacy-policy{
			font-family: 'Montserrat', sans-serif;
			font-weight: 800;
		}
		.form-text {
			width: 100%;
			height: 48px;
			border: 1px solid #000;
			// margin-bottom: 35px;
			margin: 5px 0 35px 0;
		}
		.privacy {
			height: 215px;
			overflow-Y: scroll;
			padding: 10px;
			font-size: 14px;
			border: 2px solid #333;
			margin-bottom: 40px;
		}
		// >label {
		// 	>input {
		// 		padding-bottom: 20px;
		// 	}
		// }
	}
}

.radio-input {
	display: none;
}
.radio-text {
	position: relative;
	display: flex;
	align-items: center;

	.radio-text::before {
		content: '';
		display: block;
		border-radius: 50%;
		border: 1px solid orange;
		width: 16px;
		height: 16px;
	}
	&::after {
		// .radio-text::after {
		content: '';
		display: block;
		position: absolute;
		left: 3px;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		background-color: orange;
	}
}
.radio-input:checked+.radio-text::after { 
	content: '';
	position: absolute;
	left: calc(8px - 5px);
	display: block;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: orange;
}



.required {
	// width: 35px;
	// height: 18px;
	padding: 1px 5px;
	margin: 5px 20px;
	font-size: 12px;
		color: #fff;
		background-color: #333;
	}
.button-submit {
	width: 160px;
	height: 36px;
	margin: 40px auto 80px auto;
	font-size: 14px;
	font-weight: bold;
	background-color: #000;
	color: #fff;
	text-align: center;
	line-height: 36px;
}