.p-contents--about-us {
	width: 100%;
	height: 540px;
	// height: 600px;
	position: relative;
	background-image: url(../../images/about-img.jpg);
	padding: 50px 15px;
	background-size: cover;
	z-index: 200;
	@include mq(md) {
		height: 480px;
		padding: 60px 90px;
	}
	@include mq(lg) {
		width: 1100px;
		height: 600px;
		// margin: 0 auto;
		margin: 120px auto 0 auto;
		// padding: 120px 170px;
		// z-index: 200;
	}
	>div {
		width: 100%;
		height: 100%;
		padding: 50px 30px;
		background-color: #fff;
		@include mq(md) {
			padding: 40px inherit;
		}
		@include mq(lg) {
			width: 590px;
			// padding: 60px;
		}
	}
}

.lg-flex-wrap--contents {
	@include mq(lg) {
		width: 100%;
		height: 770px;
		position: relative;
		bottom: 70px;
		margin-bottom: -70px;
		display: flex;
		justify-content: center;
		padding-top: 100px;
		z-index: 100;
		// margin: 0 auto;
		background-color: #f0f0f0;
	}
	
	.p-contents--works {
		width: 100%;
		// padding: 40px 15px 50px 15px;
		padding: 40px 15px 15px 15px;
		position: relative;
		top: 0;
		left: 0;
		background-color: #f2f2f2;
		@include mq(md) {
			padding: 40px 30px 50px 30px;
		}
		@include mq(lg) {
			width: 520px;
			// height: 650px;
			height: 100%;
			padding: 0;
		}
		>div {
			width: 100%;
			@include mq(lg) {
				position: absolute;
				top: 0;
				right: 0;
				// left: 0;
				margin-right: 30px;
				// padding-right: 30px;
				// margin-left: auto;
				// left: 20%;
				// left: auto;
			}
			>img {
				width: 100%;
				max-width: 520px;
				@include mq(lg) {
					width: 100%;
					// max-width: initial;
					height: 350px;
				}
			}
			>p {
				padding: 30px 0 50px 0;
			}
		}
	}
	.p-contents--culture {
		width: 100%;
		height: 100%;
		padding: 40px 15px 50px 15px;
		position: relative;
		background-color: #F2F2F2;
		@include mq(md) {
			padding: 40px 30px 50px 30px;
		}

		@include mq(lg) {
			width: 520px;
			// width: 100%;
			// height: 650px;
			height: 100%;
			// position: absolute;
			// left: 50%;
			// padding: 0;
		}
		>div {
			width: 100%;
				@include mq(lg) {
				position: absolute;
				top: 0;
			// 	left: 0;
			// 	// right: 50%;
			}

			>img {
				width: 100%;
				max-width: 520px;
				@include mq(lg) {
					width: 100%;
					// max-width: initial;
					height: 350px;
				}
			}
			>p {
				padding: 30px 0 50px 0;
			}
		}
	}
}

.p-contents--archive {
	// background-color: #fff;
	width: 100%;
	height: 440px;
	position: relative;
	padding: 40px 15px;
	@include mq(md) {
		padding: 40px 30px;
	}
	@include mq(lg) {
		// height: 100%;
		width: 1100px;
		height: 470px;
		top: 0;
		left: 0;
		right: 0;
		padding: 0;
		margin: 0 auto;
		// padding: 6 0;

	}
	>div {
		position: relative;
		@include mq(lg) {
			// height: 350px;
			// width: 1100px;
			width: 70%;
			top: 0;
			right: 0;
			left: auto;
			margin: 0 0 60px auto;
		}
		.topics {
			font-weight: bold;
			border-bottom: 1px solid #DDD;
			margin-bottom: 19px;
			.topics-date {
				padding-bottom: 8px;
				font-size: 10px;
				color: #CECECE;
			}
			.topics-title {
				font-size: 12px;
				padding-bottom: 20px; 
				// font-weight: bold;
				&.new-title {
					padding-bottom: 15px
				}
			}
		}
		.topics-line {
			width: 100%;
			height: 1px;
			background-color: #CECECE;
			margin: 10px 0 20px 0;
		}
	}
}

.p-contents--contact {
	// height: 900px;
	height: 620px;
	padding: 40px 15px;
	background-color: #F2F2F2;
	position: relative;
	@include mq(md) {
		padding: 40px 30px;
		height: 100%;
		// height: 750px;
	}
	@include mq(lg) {
		// width: 1100px;
		height: 570px;
		padding: 60px 0;
		// margin: 0 auto;
	}
	>div {
		margin-bottom: 10px;
		// width: 100%;
		// height: 100%;
		// padding: 40px 0;
		@include mq(lg) {
		// 	height: 
		width: 1100px;
		margin: 0 auto;
		position: relative;
		}
		>	img {
			width: 100%;
			// height: 45%;
			// height: 50%;
			height: 250px;
			object-fit: cover;
			// object-position: top center;
			margin: 10px 0 30px 0;
			@include mq(md) {
				width: 70%;
				height: 350px;
			}
			@include mq(lg) {
				width: 580px;
				height: 390px;
				position: absolute;
				right: 0;
				left: auto;
				top: auto;
				bottom: auto;

			}
		}
		.text__contact {
			// font-weight: bold;
			// height: 570px;
			padding-bottom: 50px;
			@include mq(md) {
				width: 70%;
				padding-bottom: 80px;
			}
			@include mq(lg) {
			// padding-bottom: 0;
			// 	padding-top: 72px;
			width: 45%;
			}
		}
	}
}