.l-contents--about-us {
	width: 100%;
	height: 540px;
	// height: 600px;
	position: relative;
	background-image: url(../../images/about-img.jpg);
	padding: 50px 15px;
	background-size: cover;
	z-index: 200;
	@include mq(md) {
		height: 480px;
		padding: 60px 90px;
	}
	@include mq(lg) {
		width: 1100px;
		height: 600px;
		margin: 0 auto;
		// z-index: 200;
	}
	>div {
		width: 100%;
		height: 100%;
		padding: 50px 30px;
		background-color: #fff;
		@include mq(md) {
			padding: 40px inherit;
		}
		@include mq(lg) {
			width: 590px;
		}
	}
}

.lg-flex-wrap--contents {
	@include mq(lg) {
		width: 100%;
		height: 700px;
		// width: 100vw;
		display: flex;
		background-color: #f0f0f0;
		position: relative;
		// padding-top: 100px;
		bottom: 70px;
		justify-content: space-between;
		z-index: 100;
	}
	
	.l-contents--works {
		// height: 500px;
		height: 100%;
		padding: 40px 15px 50px 15px;
		position: relative;
		background-color: #f2f2f2;
		z-index: 100;
		@include mq(md) {
			// padding: 0;
			padding-left: 30px;
			padding-right: 30px;
		}
		@include mq(lg) {
			height: 700px;
			// width: 50%;
			position: absolute;
			top: 0;
			left:0;
			padding-left: 170px;
			padding-top: 130px;
		}
		>div {
			width: 100%;
			>img {
				width: 100%;
				max-width: 520px;
				@include mq(lg) {
					height: 350px;
				}
			}
			>p {
				padding: 30px 0 50px 0;
			}
		}
	}
	.l-contents--culture {
		height: 100%;
		padding: 40px 15px 50px 15px;
		position: relative;
		background-color: #F2F2F2;
		// background-color: #f0f0f0;

		@include mq(md) {
			// padding: 0;
			padding-left: 30px;
			padding-right: 30px;
		}
		@include mq(lg) {
			height: 700px;
			width: 50%;
			position: absolute;
			top: 0;
			right: 0;
			padding-right: 170px;
			padding-top: 130px;
			// left:100px;
		}
		>div {
			width: 100%;
			>img {
				width: 100%;
				max-width: 520px;
				@include mq(lg) {
					height: 350px;
				}
			}
			>p {
				padding: 30px 0 50px 0;
			}
		}
	}
}

.l-contents--archive {
	// background-color: #fff;
	width: 100%;
	height: 440px;
	position: relative;
	padding: 40px 15px;
	>div {
		// height: 100%;

		.topics {
			font-weight: bold;
			border-bottom: 1px solid #DDD;
			margin-bottom: 19px;
			.topics-date {
				padding-bottom: 8px;
				font-size: 10px;
				color: #CECECE;
			}
			.topics-title {
				font-size: 12px;
				padding-bottom: 20px; 
				// font-weight: bold;
				&.new-title {
					padding-bottom: 15px
				}
			}
		}
		.topics-line {
			width: 100%;
			height: 1px;
			background-color: #CECECE;
			margin: 10px 0 20px 0;
		}
	}
}

.l-contents--contact {
	// height: 900px;
	height: 620px;
	padding: 40px 15px;
	background-color: #F2F2F2;
	position: relative;
	>div {
		margin-bottom: 10px;
		// width: 100%;
		// height: 100%;
		// padding: 40px 0;
		>	img {
			width: 100%;
			// height: 45%;
			// height: 50%;
			height: 250px;
			object-fit: cover;
			// object-position: top center;
			margin: 10px 0 30px 0;
			// @include mq(md) {
			// 	width: 50%;
			// }
		}
		.text__contact {
			// font-weight: bold;
			padding-bottom: 50px;
		}
		// >button {
		// 	bottom: 0px;
		// }
	}
}
// }
	// .lg-flex-wrap--contents {
	// 	@include mq(lg) {
	// 		width: 100%;
	// 		height: 700px;
	// 		// width: 100vw;
	// 		display: flex;
	// 		background-color: blue;
	// 		position: relative;

	// 		justify-content: center;
	// 	}
	// }
