@use "../global/index" as global;

.c-heading--lv1 {
	font-size: 52px;
	letter-spacing: 0.25rem;
	font-weight: 800;
}

.c-heading--lv2 {
	font-size: 28px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.1rem;
	margin-bottom: 30px;
	@include global.mq(lg) {
		padding-top: 60px;
	}
}

.c-heading--lv3 {
	font-weight: normal;
	padding-bottom: 2rem;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 24px;
}
